.header {
    min-height: 50px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: snow;
    font-size: 34px;
}

.header a[class='active'] {
    color: #000078;
}